.work {
  background-color: #1b262f;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-image: url("   ../img/work__bg.svg");
}

.work__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__content {
  max-width: 445px;
}

.work__title {
  color: #fbfcfe;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
  margin-bottom: 24px;
}

.work__text {
  color: #fbfcfe;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 32px;
}

.work__link {
  color: #fbfcfe;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  border-radius: 24px;
  border: 1px solid #fbfcfe;
  padding: 16px 32px;

  &:hover {
    color: #1b262f;
    border-radius: 24px;
    border: 1px solid #fbfcfe;
    background-color: #fff;
    transition: all 0.3s;
  }
}

.work__img_block {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 39px;
  column-gap: 60px;
}

@media screen and (max-width: 1000px) {
  .work {
    background-image: url("../img/work__bg2.svg");
    background-position: center top;
  }
  .work__container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .work__img_block {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 576px) {
  .work__img_block {
    grid-template-columns: repeat(2, 1fr);
  }

  .work__title {
    font-size: 32px;
  }
}
